body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 0px; /* Ajustez cette valeur pour qu'elle corresponde à la hauteur de votre navbar */
}

.navbar-custom, .navbar {
    position: fixed; /* Fixe la navbar en haut de la page */
    width: 100%; /* S'étend sur toute la largeur de la page */
    top: 0; /* Positionne la navbar tout en haut de la page */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
    background-color: black !important; /* S'assure que le fond est toujours noir */
}

.navbar-custom, .navbar {
    background-color: black !important;
}

.nav-link {
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgb(15, 96, 21);
}

main {
    position: relative;
    background-image: url('../images/tree.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.form-container {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: rgb(15, 96, 21);
    border-color: rgb(15, 96, 21);
    color: white;
}

.btn-primary:hover {
    background-color: rgba(15, 96, 21, 0.85);
    border-color: rgba(15, 96, 21, 0.85);
    color: white;
}

.transparent-button {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    transition: all 0.3s ease;
}

.transparent-button:hover {
    background-color: white;
    color: black;
}
